# python
.venv/
__pycache__/
**/__pycache__

# IDE
.vscode/

# logs
**/*.log

#SQLITE
**/*.db-shm
**/*.db-wal
*.db
*.database
*.sqlite

# customfiles
**/session.json
/core/services/config.py
/data/codes.json

